html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	width: 700px;
	height: 700px;
	margin-top: 6vw;
}

.square {
	aspect-ratio: 1/1;
	margin: 0;
	outline: 1px solid black;
}
